<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<title>@ViewBag.Title</title>*@
    <title>Trang chủ</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/style_layout.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="https://www.facebook.com/narizmusicrl/"><i class="fa-brands fa-facebook"></i></a>
                            <a href="https://twitter.com/GHRWX1"><i class="fa-brands fa-twitter"></i></a>
                        </div>
                        <div class="header__top__right__language">
                            <img src="https://media.istockphoto.com/id/864417828/vi/vec-to/c%E1%BB%9D-vi%E1%BB%87t-nam.jpg?s=612x612&w=0&k=20&c=4wqSdySA6JkSO6Xw6m4255maL3mqQx4m0tTH3Q14u_U=" alt="logo_VietNam" width="20">
                            <div> Tiếng Việt</div>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                <li><a href="#">Tiếng Việt</a></li>
                                <li><a href="#">Tiếng Anh</a></li>
                            </ul>
                        </div>
                        <div class="header__top__right__auth">
                            <a href="@Url.Action("DangNhap", "TaiKhoan")"><i class="fa fa-user"></i>Đăng nhập</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    @* Slidebar *@
<div class="container-row">
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="profile">
            <img src="https://i.pinimg.com/originals/6b/72/7a/6b727a3d526b5c870639c2758bd5f3d5.jpg" alt="Admin Avatar">
            <div class="infor-admin">
                <h3>Admin</h3>
                <p style="color: #fff;"><i class="fa-solid fa-circle" style="color: #63E6BE; font-size:10px"></i> Quản trị viên</p>
            </div>

        </div>
        <nav>
            <ul>
                <li><a href="@Url.Action("Index","Admin")"><i class="fa-solid fa-house"></i>&nbsp;&nbsp;Tổng quan</a></li>
                <li><a href="#"><i class="fa-solid fa-chart-pie"></i>&nbsp;&nbsp;Thống kê</a></li>
                <li>
                    <a href="#" class="toggle-submenu"><i class="fa-solid fa-users"></i>&nbsp;&nbsp;Quản lý nhân viên <i class="fa-solid fa-angle-right"></i></a>
                    <ul class="submenu">
                        <li><a href="#"><i class="fa-regular fa-calendar-check"></i>&nbsp;&nbsp;Quản lý chấm công</a></li>
                        <li><a href="#"><i class="fa-solid fa-hand-holding-dollar"></i>&nbsp;&nbsp;Quản lý lương</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa-solid fa-building-user"></i>&nbsp;&nbsp;Quản lý phòng ban</a></li>        
                <li><a href="@Url.Action("CongTac","CongTac")"><i class="fa-solid fa-plane-departure"></i>&nbsp;&nbsp;Quản lý công tác</a></li>
                <li><a href="#"><i class="fa-solid fa-file-contract"></i>&nbsp;&nbsp;Quản lý hợp đồng</a></li>
                <li><a href="#"><i class="fa-regular fa-star"></i>&nbsp;&nbsp;Khen thưởng - Kỷ luật</a></li>
                <li><a href="#"><i class="fa fa-user"></i>&nbsp;&nbsp;Tài khoản</a></li>
            </ul>
        </nav>
    </div>
    <div class="main-content">
        <div>
            @RenderBody()
        </div>
    </div>
</div>
    <!-- Main Content -->
   
    @* Footer *@
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="@Url.Action("Index","Home")"><img src="~/Assets/Images/Logo.jpg" alt="" style="height:50px;width:119px"></a>
                        </div>
                        <ul>
                            <li><i class="fa-solid fa-location-dot"></i> Địa chỉ:140 Lê Trọng Tấn, Phường Tây Thạnh , Tân Phú, TPHCM</li>
                            <li><i class="fa-solid fa-phone-volume"></i> Điện thoại: 0912 387 121</li>
                            <li><i class="fa-solid fa-envelope"></i> Email: qlns@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Liên kết</h6>
                        <ul>
                            <li><a href="#">Về chúng tôi</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                            <li><a href="#">Điều khoản</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Liên hệ</a></li>
                            <li><a href="#">Sự đổi mới</a></li>
                            <li><a href="#">Chứng thực</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Cập nhật thông tin mới nhất về Nariz fastfood</h6>
                        <p>Nhận thông tin mới nhất qua email về cửa hàng và những ưu đãi đặc biệt.</p>
                        <form action="#">
                            <input type="text" placeholder="Điền email vào đây">
                            <button type="submit" class="site-btn">Đăng ký</button>
                        </form>
                        <div class="footer__widget__social">
                            <h6>Liên hệ</h6>
                            <a href="http://www.facebook.com/narizmusicrl"><i class="fa-brands fa-facebook"></i></a>
                            <a href="http://www.instagram.com/narizmusic"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            <a href="#"><i class="fa-brands fa-square-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>
        document.querySelectorAll('.toggle-submenu').forEach(item => {
            item.addEventListener('click', function (event) {
                event.preventDefault();
                const submenu = this.nextElementSibling;
                submenu.classList.toggle('active');
            });
        });

    </script>
</body>
</html>
